/* ### Primary
- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral
- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradient
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

- Font size: 16px
### Font
- Weights: 300, 400, 600 */


*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Josefin Sans'; font-size: 16px;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  aspect-ratio: 1:1;
}

.background{
  background-image: url("images/bg-pattern-desktop.svg");
  background-image: Linear, 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  background-repeat: no-repeat;
  background-size: 60%;
  float: left;
  min-height: 100vh;
}

.container{
  width: 100%;
  min-height: 100vh;
}

.desktop{
  width: 40%;
  min-height: 100vh;
  float: right;

}
.desktop img{
  display: block;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.mobile{
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  right: 0;
  box-sizing: border-box;
}

.mobile img{
  display: block;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.logo{
  margin: 2% 0 0 10rem;
  position: absolute;

}

.text-and-form{
  min-height: 100vh; 
  display: block;
  min-height: 100vh;
  width: 60%;
  float: left;
}

.text-and-form img{
  margin-top: 5%;
  margin-left: 20%;
}

.text-and-form h2{
  margin-top: 25%;
  margin-left: 20%;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  font-size: 5rem;
  letter-spacing: 1rem;
}

.text-and-form h3{
  font-weight: 400;
  font-size: 4.5rem;
  letter-spacing: 1.5rem;
  margin-left: 20%;

}
.text-and-form p{
  margin-top: 2.5%;
  line-height: 1.8rem;
  color: hsl(0, 36%, 70%);
  width: 50%;
  margin-left: 20%;
}


input{
  position: relative;
  width: 51%;
  border: .2px solid hsl(0, 36%, 70%);
  border-radius: 25px;
  padding: 1rem;
  color: hsl(0, 36%, 70%);
  margin-left: 20%;
  margin-top: 4%;
}

span {
  position: absolute;
  background:linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
  width: 5%;
  height: 5.5%;
  margin-top: 2.5%;
  margin-left: -5%;
  float: right;
  border-radius: 25px;
  padding: 10px 0 0 20px;
}

/* @media only screen and (max-width: 375px){
  .container{
    background-color: #fff9f9;
    background-image: none;
    position: relative;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  } 

  .logo{
    width: 30%;
    margin-top: 1.25rem;
    margin-left: 2rem;
  }
  
  .desktop{
    display: none;
    position: absolute;
    width: 40%;
    min-height: 100vh;
    right: 0;
    box-sizing: border-box;
  }
  
  .desktop img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
  }
  
  .mobile{
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    box-sizing: border-box;
  }
  
  .mobile img{
    margin-top: 5%;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  .text-and-form{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: 35% auto auto auto;
  }
  
  .text-and-form h2{
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    font-size: 2.5rem;
    letter-spacing: .6rem;
    text-align: center;
  }
  
  .text-and-form h3{
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: .6rem;
    text-align: center;
  
  }
  .text-and-form p{
    margin-top: 1rem;
    line-height: 1.5rem;
    color: hsl(0, 36%, 70%);
    width: 85%;
    font-size: .9rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  input{
    background-color: #fff9f9;
    width: 85%;
    margin-left: 20%;
    border: .2px solid hsl(0, 36%, 70%);
    border-radius: 25px;
    color: hsl(0, 36%, 70%);

  }
  
  span {
    position: absolute;
    background:linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    right: 10px;
    top: 4px;
    width: 20px;
    height: 10px;
    border-radius: 25px;
    padding: ;
    
  }

  .arrow{

    width:;
  }
  
} */












